 /*common css*/
html,body,h1,h2,h4,h5,h6,p,ul,button{
  margin: 0;
  padding: 0;
}
body {
  font: 16px/1.4 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, sans-serif;
  color: #333;
  background-color: #fff
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  box-sizing: border-box;
}
h3{
  font-size: 1.3rem;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}
h4{
  font-size: 1.2rem;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

img {
  border: none;
  max-width: 100%;
}

a{
  text-decoration: none;
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

.mt15{
  margin-top: 15px;
}
.mt20{
  margin-top: 20px;
}
.f10{
  font-size: 10px;
}
.f12{
  font-size: 12px;
}
.f14{
  font-size: 14px;
}
.f18{
  font-size: 18px;
}
.f20{
  font-size: 20px;
}
.f22{
  font-size: 22px;
}
.t-middle {
  text-align: center
}

.t-left {
  text-align: left
}

.t-right {
  text-align: right
}
.f-white {
  color: #fff
}

.f-black {
  color: #424242
}

.f-gray {
  color: #9e9e9e
}

.f-green {
  color: #22ac38
}
.f-blue{
  color:#03a9f4;
}
.f-light{
  color:#50bcb6;
}
.row-0 {
  width: 100%
}

.row-1 {
  width: 90%
}

.row-2 {
  width: 50%
}

.row-3 {
  width: 33.3333%
}

.row-4 {
  width: 25%
}

.row-5 {
  width: 20%
}

.row-6 {
  width: 16.66%
}

.row-7 {
  width: 75%
}

.row-60 {
  width: 60%
}

.row80 {
  width: 80px
}

.row125 {
  width: 125px
}

.row160 {
  width: 160px
}

.row240 {
  width: 240px
}

.row280 {
  width: 280px
}

.row320 {
  width: 320px
}

.col-1 {
  height: 100%
}

.col-2 {
  height: 200%
}

.col-5 {
  height: 50%
}

.col-4 {
  height: 40%
}

.col320 {
  height: 320px
}

.offset-1 {
  margin-left: 33.3333333%
}
.offset-2 {
  margin-left: 3.3333333%
}

.row-4,.col-1,.col-2,.col-6,.row-1,.row-2,input[type=text],input[type=password],select,textarea {
  box-sizing: border-box
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/*page.css*/
.cd-header{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  background: white;
  height:50px;
  z-index: 2;
}
.cd-header .logo{
  float: left;
  font-weight: 800;
  font-size: 18px;
  margin:15px 0 0 5%;
  color:#5e5e5e;
  line-height: 20px;
}
@media only screen and (min-width: 768px){
  .cd-header{
    color:#fff;
    background: #E58172;
  }
  .cd-header .logo{
    color:#fff;
  }
  .cd-header .logo:hover,  .cd-header .logo:focus{
    color: rgba(255, 255, 255, 0.8);
  }
}
.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url(../images/cd-icon-menu.svg) no-repeat center center;
  background-size:44px 44px;
  cursor: pointer;
}
.cd-header ul{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  -webkit-transform:translateY(-100%);
          transform:translateY(-100%);
}
.cd-header ul.is-visible{
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  -webkit-transform:translateY(50px);
          transform:translateY(50px);
}
.cd-header ul a{
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #fff;
  font-size: 12px;
  font-weight: 800;
  color: #777;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px){
  .cd-main-nav{
    width:auto;
    height: auto;
    background: none;
  }
  .cd-header ul{
    position: static;
    line-height: 50px;
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
  .cd-header ul.is-visible{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .cd-header ul li{
    display: inline-block;
    margin-left: 1em;
  }
  .cd-header ul a{
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border:0;
    color:#fff;
  }
  .cd-header ul a:hover, .cd-header ul a:focus{
     color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1170px){
  .cd-header{
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    -webkit-transform:translate3d(0px 0px 0px);
            transform:translate3d(0px 0px 0px);
    transition:background-color 0.3s ease 0s;
  }
  .cd-header.is-fixed {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    position: fixed;
    top: -50px;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
  }
  .cd-header.is-fixed .logo{
    color:#404040;
  }
  .cd-header.is-fixed .logo:hover, .cd-header.is-fixed .logo:focus{
    color:#0085a1;
  }
  .cd-header.is-fixed ul a, .cd-header.is-fixed ul a{
     color:#404040;
  }
  .cd-header.is-fixed ul a:hover, .cd-header.is-fixed ul a:focus{
     color:#0085a1;
  }
  .cd-header.is-visible {
    -webkit-transform: translate3d(0px, 100%, 0px);
            transform: translate3d(0px, 100%, 0px);
  }
}
.cd-banner{
  background: #E58172;
  height: 250px;
  position: relative;
  color:#fff;
}
@media only screen and (min-width: 768px){
  .cd-banner{
    height: 420px;
  }
}
.cd-banner .handing{
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform:translateY(-50%) translateX(-50%);
          transform:translateY(-50%) translateX(-50%);
  width: 90%;
  max-width: 768px;
  text-align: center;
}
.handing h1{
  font-size: 40px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
}
hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
}
.small {
    font-size: 85%;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.sub-heading {
    font-size: 16px;
    line-height: 1.1;
    display: block;
    font-weight: 300;
    margin: 10px 0 0;
}
@media only screen and (min-width: 768px){
  .handing h1{
    font-size: 65px;
  }
  .sub-heading{
    font-size: 20px;
  }
}
.all_posts{
  margin:0 auto;
  padding: 0 15px;
}

.all_posts .post{
  border:0;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}
.all_posts .post .datetime{
  display: inline-block;
  padding-right: 0.3em;
}
.all_posts a{
  color: #404040;
}
.all_posts a:hover{
  color:#337ab7;
  text-decoration: underline;
}
@media only screen and (min-width: 768px){
  .all_posts{
    margin:0 auto;
    padding: 0 15px;
    width: 750px;
  }
}

@media only screen and(min-width: 992px){
  .all_posts{
    width: 970px;
  }
}

/*new index.css*/
body,
html {
    height: 100%;
}
.main-header{
  position: relative;
  margin-bottom: 15px;
  height: 40vh;
  background: #fff url(/imgaes/cd-background-2.jpg) center center no-repeat;
}
.main-header .scroll-down{
  display: none;
}

.main-header .vertical-handing{
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px){
  .main-header{
    min-height: 100%;
  }
  .main-header .scroll-down {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 45px;
    left: 50%;
    margin-left: -16px;
    width: 34px;
    height: 34px;
    font-size: 34px;
    text-align: center;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation: bounce 4s 2s infinite;
    animation: bounce 4s 2s infinite;
  }

}/*welcome.css*/
.banner-page{
  height: 12em;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  margin-top:-50px;
  display: none;
}
.post-list-wrapper{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background: #ebeced;
}

.post-list-wrapper .post:first-child {
    border-top: 1px solid #dcdce0;
}
.post{
  background-color: #fff;
    border-left: 1px solid #dcdce0;
    border-right: 1px solid #dcdce0;
    border-bottom: 1px solid #dcdce0;
    overflow: hidden;
    position: relative;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 0.5em;
}

.post-title,
.post-title a {
  font-weight: 600;
  color:#313131;
}
.post-title {
  margin-top:1.2em ;
  margin-bottom: 0.1em;
  line-height: 1.2;
  transition: color .1s linear;
}

.post p {
    margin-bottom: 0.3rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.post p span{
  display: inline-block;
  min-width: 1.2em;
  margin-right: 0.8em;
  line-height: 1;
}
.tag{
  background-color: #b1b2b2;
  border-radius: 4px;
  padding: 4px 8px;
  color:#fff;
}


/*layout.css*/
.mobile-header{
  margin: 1em auto;
}
.container{
  max-width: 36rem;
  margin: 0 auto;
}
@media (min-width:38em){
  .container{
    max-width:48rem;
  }
}
@media (min-width: 50em) {
  .container {
    max-width: 57rem;
  }
  .banner-page{
    height:18em;
    display: block;
  }
}
@media (min-width: 62em) {
  .container {
    width: 60rem;
  }
  .banner-page{
    height:20em;
  }
  .post .post-info{
    width:50%;
  }
}


.header{
  /*偏紫色*/
  /*background: #1b39ab;*/
  /*background: #00b0b8;*/
  position: relative;
  background: rgba(0,0,0,.3);
  height: 50px;
  z-index: 99;
  display: none;
}

@media(min-width: 50rem){
  .header{
    display: block;
  }
  .mobile-header{
    display: none;
  }
  .sidebar-toggle{
    display: none;
  }
}

.header .nav{
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 12px;
}

.header .nav li {
  float: left;
  margin-right: 7px;
}

.header .nav li.current a {
  border: 1px solid transparent;
  background: rgba(255,255,255, .2);
 }

.header .nav li a{
  color: #fff;
  font-size: 13px;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.header .nav li a:hover{
  border:1px solid rgba(255,255,255,.2);
}
.header .logo{
  display: block;
  background: #00c4cc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
  position: absolute;
  margin-left: -30px;
  left: 50%;
  top:10px;
  cursor: pointer;
  transition: top .2s ease-out, box-shadow .2s ease-out;
}

.header .logo:hover{
  top:18px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}
.bottom span{
  display: inline-block;
}
.bottom .date{
  margin-right: 12px;
}
.bottom .tag{
  height: 28px;
  background-color: #b1b2b2;
    border-radius: 3px;
    color: #fff;
    padding: 5px 9px;
}

.footer{
  display: none;
}
.icon-wrapper{
  margin: 0 auto;
  margin-top: 1.8rem;
  width: 30em;
  margin-bottom: 2em;
}
.footer .icon{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  line-height: 4rem;
  text-align: center;
  float: left;
  margin-left: 2rem;
  font-size: 2em;
  display:block;


}
.icon.github {
  background: #2196F3;
}
.icon.weibo {
  background: #D32F2F;
}
.icon.email {
  background: #00BCD4;
}
.footer a{
  color: #fff;
}
@media(min-width: 50rem){
  .footer{
    display: block;
  }
}

.wrapper .container{
  min-width: 320px;
}


.post-body{
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word
}

.post-body>*:first-child {
  margin-top: 0 !important
}

.post-body>*:last-child {
  margin-bottom: 0 !important
}

.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  line-height: 1.4;
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}
.post-body h1 tt,.post-body h1 code,.post-body h2 tt,.post-body h2 code,.post-body h3 tt,.post-body h3 code,.post-body h4 tt,.post-body h4 code,.post-body h5 tt,.post-body h5 code,.post-body h6 tt,.post-body h6 code {
  font-size: inherit
}

.post-body h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee
}

.post-body h1 .anchor {
  line-height: 1
}

.post-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee
}

.post-body h2 .anchor {
  line-height: 1
}

.post-body h3 {
  font-size: 1.5em;
  line-height: 1.43
}

.post-body h4 {
  font-size: 1.25em
}

.post-body h5 {
  font-size: 1em
}

.post-body h6 {
  font-size: 1em;
  color: #777
}

.post-body p,.post-body blockquote,.post-body ul,.post-body ol,.post-body dl,.post-body table,.post-body pre {
  margin-top: 0;
  margin-bottom: 16px
}

.post-body hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none
}



/* Style and "hide" the sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -14rem;
  width: 14rem;
  visibility: hidden;
  overflow-y: auto;
  font-family: 'Open Sans','Helvetica Neue',Arial,'Noto Sans S Chinese Thin','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
  font-size: .875rem; /* 15px */
  color: rgba(255,255,255,.6);
  background-color: #50bcb6;
  transition: all .3s ease-in-out;
}
/* Sidebar content */
.sidebar a {
  font-weight: normal;
  color: #fff;
}
.sidebar-item {
  padding: 1rem;
}
.sidebar-item p:last-child {
  margin-bottom: 0;
}

/* Sidebar nav */
.sidebar-nav {
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
}
/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
.sidebar-checkbox {
  display: none;
}

/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
  position: absolute;
  top:  1rem;
  right: 0;
  display: block;
  width: 1.2rem;
  padding: .5rem .65rem;
  color: #505050;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  z-index: 99;
  box-sizing: content-box;
}

@media(min-width: 50rem){
  .sidebar-toggle{
    display: none;
  }
}

.sidebar-toggle:before {
  display: block;
  content: "";
  width: 100%;
  padding-bottom: .125rem;
  border-top: .375rem double;
  border-bottom: .125rem solid;

  /* Make the border inside the box */
  box-sizing: border-box;
}

.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  color: #000;
  background-color: #fff;
}

.sidebar,
.sidebar-toggle {
  -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
}

.sidebar-toggle {
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}
#sidebar-checkbox:checked + .sidebar {
  z-index: 10;
  visibility: visible;
}
#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .wrap,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(-14rem);
          transform: translateX(-14rem);
}
/* paginator */
.paginator {
    padding: 15px 20px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #dcdce0;
    border-left: 1px solid #dcdce0;
    border-right: 1px solid #dcdce0;
}

/*blog style*/
.blog-banner{
  background: url("/images/banner2.jpg");
  height: 12rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -50px;
  position: relative;
}
@media(min-width:42em){
  .blog-banner{
      height:18em;
    }
}

.post-header{
  position: absolute;
  bottom: 1em;
    width: 100%;
    text-align: center;
  color:#fff;
}

.blog-wrapper{
  height: auto;
  padding:0 0.5rem;
}
.blog-wrapper ul li{
  list-style:disc;
}
.blog-wrapper p{
  padding: 0.3em 0.2em;
  font-size: 16px;
}


.author-date{
  line-height: 1;
  margin: 0.4em 0;
}

.post-img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
}

code,
pre {
  font-family: 'Open Sans','Helvetica Neue', Helvetica, Tahoma, Arial, "Hiragino Sans GB", 'STXihei', "华文细黑", "Microsoft YaHei", "微软雅黑", 'SimSun', "宋体", 'Heiti', "黑体", sans-serif;
}
code {
  padding: .25em .5em;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
  padding: 10px;
  font-size: 13px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
}

/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}


