@charset "UTF-8";
html, body, h1, h2, h4, h5, h6, p, ul, button {
  margin: 0;
  padding: 0; }

html, body, h1, h2, h3, h4, h5, h6, blockquote, p,
pre, dl, dd, ol, ul, li, a, span, caption, th, td,
form, fieldset, legend, input, button, textarea, address {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

ol, ul {
  list-style: none; }

li {
  list-style: none; }

fieldset, img {
  border: 0; }

address, cite, dfn, em, var {
  font-style: normal; }

input, button, textarea, select {
  font-size: 100%; }

input, button, select, textarea {
  outline: 0; }

textarea {
  resize: none; }

small {
  font-size: 80%; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: inherit; }

a {
  text-decoration: none; }

a, label, :focus {
  outline: 0 none; }

a, img, input {
  border: 0 none; }

img {
  max-width: 100%; }

button, input, select, textarea {
  font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #3b3b3b;
  font-weight: normal; }

::-webkit-input-placeholder {
  color: #3b3b3b;
  font-weight: normal; }

input:-ms-input-placeholder {
  color: #3b3b3b;
  font-weight: normal; }

::-ms-clear {
  display: none; }

::-ms-reveal {
  display: none; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  box-sizing: border-box; }

.hidden {
  display: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.nbg {
  background: none !important; }

.t_l {
  text-align: left; }

.t_c {
  text-align: center; }

.t_r {
  text-align: right; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.f10 {
  font-size: 10px; }

.f12 {
  font-size: 12px; }

.f14 {
  font-size: 14px; }

.f18 {
  font-size: 18px; }

.f20 {
  font-size: 20px; }

.f22 {
  font-size: 22px; }

.t-middle {
  text-align: center; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

body, html {
  height: 100%; }

body {
  font: 16px/1.4 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, sans-serif;
  color: #333;
  background-color: #fff; }

.main-header {
  background: #222;
  background-image: url("/images/cd-background-2.jpg");
  position: relative;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .main-header .scroll-down {
    display: none; }
  .main-header .vertical-handing {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1170px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-size: 1.875rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }

.vertical-handing .page-title {
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: -1px;
  font-weight: 700;
  font-family: "Open Sans",sans-serif;
  color: #fff; }

.vertical-handing .page-description {
  margin: 0;
  font-size: 18px;
  font-size: 1.2rem;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "Merriweather",serif;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.8); }

@media only screen and (min-width: 768px) {
  .main-header {
    min-height: 100%; }
  .main-header .scroll-down {
    display: inline-block;
    position: absolute;
    left: 50%;
    right: auto;
    bottom: 20px;
    width: 38px;
    height: 44px;
    background: url(/images/cd-arrow-bottom.svg);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }

/*header*/
.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 50px;
  z-index: 2; }
  .cd-header .logo {
    float: left;
    font-weight: 800;
    font-size: 18px;
    margin: 15px 0 0 5%;
    color: #5e5e5e;
    line-height: 20px; }

@media only screen and (min-width: 768px) {
  .cd-header {
    color: #fff;
    background: #E58172; }
    .cd-header .logo {
      color: #fff; }
      .cd-header .logo:hover, .cd-header .logo:focus {
        color: rgba(255, 255, 255, 0.8); } }

.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url(../images/cd-icon-menu.svg) no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer; }
  .cd-main-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  .cd-main-nav ul.is-visible {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }

.cd-header ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #fff;
  font-size: 12px;
  font-weight: 800;
  color: #777;
  letter-spacing: 1px;
  text-transform: uppercase; }

@media only screen and (min-width: 768px) {
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none; }
    .cd-main-nav ul {
      position: static;
      line-height: 50px;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
      .cd-main-nav ul li {
        display: inline-block;
        margin-left: 1em; }
      .cd-main-nav ul a {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
        padding: .6em 1em;
        border: 0;
        color: #fff; }
        .cd-main-nav ul a:hover, .cd-main-nav ul a:focus {
          color: rgba(255, 255, 255, 0.8); }
    .cd-main-nav ul.is-visible {
      -webkit-transform: translateY(0);
              transform: translateY(0); } }

@media only screen and (min-width: 1170px) {
  .cd-header {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translate3d(0px 0px 0px);
            transform: translate3d(0px 0px 0px);
    -webkit-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s; }
  .cd-header.is-fixed {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    position: fixed;
    top: -50px;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; }
    .cd-header.is-fixed .logo {
      color: #404040; }
      .cd-header.is-fixed .logo:hover, .cd-header.is-fixed .logo:focus {
        color: #0085a1; }
  .cd-header.is-fixed ul a {
    color: #404040; }
    .cd-header.is-fixed ul a:hover, .cd-header.is-fixed ul a:focus {
      color: #0085a1; }
  .cd-header.is-visible {
    -webkit-transform: translate3d(0px, 100%, 0px);
            transform: translate3d(0px, 100%, 0px); } }

.cd-banner {
  background: #E58172;
  height: 250px;
  position: relative;
  color: #fff; }
  .cd-banner .handing {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    width: 90%;
    max-width: 768px;
    text-align: center; }
    .cd-banner .handing h1 {
      font-size: 40px;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 700;
      line-height: 1.1; }
    .cd-banner .handing .sub-heading {
      font-size: 16px;
      line-height: 1.1;
      display: block;
      font-weight: 300;
      margin: 10px 0 0; }
  .cd-banner .post-handing {
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 90%;
    max-width: 768px;
    text-align: left;
    padding-top: 50px; }

@media only screen and (min-width: 768px) {
  .cd-banner {
    height: 420px; }
    .cd-banner .post-handing {
      left: 20%; } }

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white; }

.small {
  font-size: 85%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

@media only screen and (min-width: 768px) {
  .handing h1 {
    font-size: 65px; }
  .handing .sub-heading {
    font-size: 20px; } }

/*content*/
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5; }

blockquote p:last-child {
  margin-bottom: 0; }

.paginator {
  padding: 15px 20px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #dcdce0;
  border-left: 1px solid #dcdce0;
  border-right: 1px solid #dcdce0; }

.blog-wrapper {
  height: auto;
  padding: 1em 1em; }
  .blog-wrapper ul li {
    list-style: disc; }
  .blog-wrapper p {
    padding: 0.3em 0.2em;
    font-size: 16px; }

/*code*/
code, pre {
  font-family: 'Open Sans','Helvetica Neue', Helvetica, Tahoma, Arial, "Hiragino Sans GB", 'STXihei', "华文细黑", "Microsoft YaHei", "微软雅黑", 'SimSun', "宋体", 'Heiti', "黑体", sans-serif; }

code {
  padding: .25em .5em;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
  font-size: 14px; }

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent; }

/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px; }

.highlight pre {
  margin-bottom: 0;
  font-size: 14px; }

@media only screen and (min-width: 768px) {
  font-size: 16px; }

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #8e908c; }

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829; }

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f; }

/* Tomorrow Yellow */
.hljs-attribute {
  color: #eab700; }

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00; }

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #4271ae; }

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8; }

.hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

h3 {
  font-size: 1.3rem;
  margin-top: 0.5em;
  margin-bottom: 0.3em; }

h4 {
  font-size: 1.2rem;
  margin-top: 0.5em;
  margin-bottom: 0.3em; }

.post-list-wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  padding-top: 1.5em;
  padding-bottom: 1.5em; }
  .post-list-wrapper .post {
    border-left: 1px solid #dcdce0;
    border-right: 1px solid #dcdce0;
    border-bottom: 1px solid #dcdce0;
    overflow: hidden;
    position: relative;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 0.5em; }
    .post-list-wrapper .post .post-title {
      font-weight: 600;
      color: #313131;
      margin-top: 1.2em;
      margin-bottom: 0.1em;
      line-height: 1.2;
      -webkit-transition: color .1s linear;
      transition: color .1s linear; }
      .post-list-wrapper .post .post-title a {
        font-weight: 600;
        color: #313131; }
    .post-list-wrapper .post p {
      margin-bottom: 0.3rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
    .post-list-wrapper .post span {
      display: inline-block;
      min-width: 1.2em;
      margin-right: 0.8em;
      line-height: 1; }
    .post-list-wrapper .post .tag {
      background-color: #b1b2b2;
      border-radius: 4px;
      padding: 4px 8px;
      color: #fff; }

.all_posts {
  margin: 0 auto;
  padding: 0 15px; }
  .all_posts .post {
    border: 0;
    padding-left: 0.5em;
    padding-bottom: 0.5em; }
    .all_posts .post .datetime {
      display: inline-block;
      padding-right: 0.3em; }
    .all_posts .post a {
      color: #404040; }
      .all_posts .post a:hover {
        color: #337ab7;
        text-decoration: underline; }

@media only screen and (min-width: 768px) {
  .all_posts {
    margin: 0 auto;
    padding: 0 15px;
    width: 750px; } }

@media only screen and (min-width: 992px) {
  .all_posts {
    width: 970px; } }

/*post.css*/
@media only screen and (min-width: 960px) {
  .cd-banner .post-handing {
    top: 50%;
    left: 50%;
    padding-top: 0;
    text-align: center;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%); } }

.post-heading h1 {
  font-size: 27px; }

.post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 17px; }
