---
layout: default
title: 慢鱼的blog
---
{% include sidebar.html %}
<div class="mobile-header row-1">
    <h3 class="f-light f20">慢鱼</h3>
    <p class="f10">若你喜欢怪人其实我很美</p>
</div>
<div class="header">
  <div class="container clearfix">
    <ul class="nav">
      <li class="current"><a href="index.html">Blog</a></li>
      <li><a href="">Work</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </div>
  <a class="logo" href="index.html">慢鱼</a>
</div>
<div class="banner-page clearfix" style="background-image: url(images/banner2.jpg)">
</div>
<div class="post-list-wrapper">
  <div class="container clearfix">
      <div class="post">
        <div class="post-info">
          <p> <a href="post1.html" class="f-light f18">折腾吧少年</a> </p>
          <p class="detail f14 f-gray">5月份从做了四个月的一家问卷公司离职了，这次是自己在毕业两年里第三次换工作了。在别人选择求稳定的同时，而我却在不断乱跳。</p>
           <p class="bottom"> <span class="date f14">2015年9月23号</span><span class="tag f10">随笔</span></p>
        </div>

      </div>
      <div class="post">
        <div class="post-info">
          <p> <a href="post3.html" class="f-light f18">颠覆伤痕文学</a> </p>
          <p class="detail f14 f-gray">很多人总对黄金时代有一种异见，觉得黄金时代是一种并无多少文学价值的作品，低俗不堪，荼毒百姓。原因在于小说中王小波用大量的笔墨，酣畅淋漓的描绘了主人公王二与众多女友的性爱场面，细节详尽，好似亲眼旁观，几可乱真.</p>
         <p class="bottom"> <span class="date f14">2015年1月1号</span><span class="tag f10">文摘</span></p>
        </div>
      </div>
  </div>
</div>
<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>     
{{ post.content  ||split:'<!-- more -->' | first }}
<h7><a href='{{post.url}}' title='阅读全文'>阅读全文</a></h7>

  </div>
  {% endfor %}
</div>
{% include footer.html %}
<label for="sidebar-checkbox" class="sidebar-toggle"></label>
<script>
  (function(document) {
      var toggle = document.querySelector('.sidebar-toggle');
      var sidebar = document.querySelector('#sidebar');
      var checkbox = document.querySelector('#sidebar-checkbox');

      document.addEventListener('click', function(e) {
        var target = e.target;

        if(!checkbox.checked ||
           sidebar.contains(target) ||
           (target === checkbox || target === toggle)) return;

        checkbox.checked = false;
      }, false);
    })(document);

</script>
