---
layout: default
title: 慢鱼的blog
---
{% include sidebar.html %}
<div class="mobile-header row-1">
    <h3 class="f-light f20">慢鱼</h3>
    <p class="f10">若你喜欢怪人其实我很美</p>
</div>
<div class="header">
  <div class="container clearfix">
    <ul class="nav">
      <li class="current"><a href="index.html">Blog</a></li>
      <li><a href="">Work</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </div>
  <a class="logo" href="index.html">慢鱼</a>
</div>
<div class="banner-page clearfix" style="background-image: url(images/banner2.jpg)">
</div>
<div class="post-list-wrapper">
  <div class="container clearfix">
     {% for post in site.posts %}
      <div class="post">
          <h1 class="post-title f18"> <a href="{{ post.url }}" class="f-black f18"> {{ post.title }}</a> </h1>
          <p> <span class="tag f10">{{ post.tags }}</span><span class="date f14">{{ post.date | date:'%Y年%m月%d日' }}</span></p>
      </div>
    {% endfor %}
  </div>
</div>
{% include footer.html %}
<label for="sidebar-checkbox" class="sidebar-toggle"></label>
<script>
  (function(document) {
      var toggle = document.querySelector('.sidebar-toggle');
      var sidebar = document.querySelector('#sidebar');
      var checkbox = document.querySelector('#sidebar-checkbox');

      document.addEventListener('click', function(e) {
        var target = e.target;

        if(!checkbox.checked ||
           sidebar.contains(target) ||
           (target === checkbox || target === toggle)) return;

        checkbox.checked = false;
      }, false);
    })(document);

</script>
