 
/*common css*/
body{
	/*background: #fafafa;*/
	min-width: 980px;
	margin: 0;
	font: 17px/1.7 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	color: #555;
}
* {
	box-sizing:boder-box;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

img {
  border: none;
}

a{
	text-decoration: none;
}
.f14{
	font-size: 14px;
}
.f22{
	font-size: 22px;
}

.container{
	max-width: 28em;
	margin: 0 auto;
}
@media (min-width: 38em) {
  .container {
    max-width: 32rem;
  }
}
@media (min-width: 56em) {
  .container {
    max-width: 38rem;
  }
}
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/*welcome.css*/
.welcome .header{
	
}

.banner-page{
	height: 390px;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
	margin-top:-50px; 
}
.post-list-wrapper{
	padding-top: 70px;
	background: #ebeced;
}
.post{
	width: 100%;
    height: 280px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 50px;
}

.post .post-info{
	width: 50%;
	height: 100%;
	position: relative;
	color:#fff;
    padding: 25px 30px;
    background: -webkit-linear-gradient(left,rgba(0,0,0,0.65),transparent 100%);
    background: -moz-linear-gradient(left,rgba(0,0,0,0.65),transparent 100%);
    background: -ms-linear-gradient(left,rgba(0,0,0,0.65),transparent 100%);
    background: linear-gradient(left,rgba(0,0,0,0.65),transparent 100%);
    display: inline-block;
    letter-spacing: normal;
    box-sizing:boder-box;
}
.post-info p {
    margin-bottom: 30px;
    color: #e0e0e0;
    line-height: 22px;
}

.post-info p.date{
	position: absolute;
	bottom: 34px;
}

.post .post-info a{
	color: #fff;
}

.post .post-info a:hover{
	color: #b5b9bd;
}

/*layout.css*/

.header{
	/*偏紫色*/
	/*background: #1b39ab;*/
	/*background: #00b0b8;*/
	position: relative;
	background: rgba(0,0,0,.3);
	height: 50px;
	z-index: 99;
}

.header .nav{
	margin: 0;
	padding: 0;
	float: left;
	margin-top: 12px;
}

.header .nav li {
  float: left;
  margin-right: 7px;
}

.header .nav li.current a {
  border: 1px solid transparent;
  background: rgba(255,255,255, .2);
 }

.header .nav li a{
	color: #fff;
	font-size: 13px;
	padding: 8px 5px;
	border-radius: 5px;
	border: 1px solid transparent;
}
.header .nav li a:hover{
	border:1px solid rgba(255,255,255,.2);
}
.header .logo{
	display: block;
	background: #00c4cc;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	line-height: 60px;
	text-align: center;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
	position: absolute;
	margin-left: -30px;
	left: 50%;
	top:10px;
	cursor: pointer;
	transition: top .2s ease-out, box-shadow .2s ease-out;
}

.header .logo:hover{
	top:18px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}

.footer{
	height: 200px;
	background: #292d35;
	margin-top: 50px;
}
.icon-wrapper{
	margin-top: 30px;
}
.footer .icon{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	float: left;
	margin-left: 7px;

}
.icon.github {
  background: #2196F3;
}
.icon.weibo {
  background: #D32F2F;
}
.icon.email {
  background: #00BCD4;
}
.footer a{
	color: #fff;
}

/*blog style*/

.blog-banner{
	background: url("images/banner2.jpg");
	height: 450px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -50px;
}

.blog-wrapper{
	height: auto;
	width: 28em;
	margin: 0 auto;
	margin-top: 40px;
	/*background: #fff;
	box-shadow: 0 2px 5px  rgba(0,0,0,0.4);*/
	padding:30px;
}
@media(min-width: 44em){
	.blog-wrapper{
		width:42em;
	}
}

.post-title{
	/*margin: 30px;
	font-weight: normal;
	color: #eb3170;
	text-align: center;*/
	margin:10px 0;
	font-size: 60px; 
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	font-family: sans-serif;
	color: rgba(0,0,0,0.8);
	letter-spacing: -0.02em;
	line-height: 1;
	margin-left: -3px;
}
.author-date{
	color:rgba(0,0,0,0.44);
	line-height: 1;
	margin-bottom: 30px;
}

.post-img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
}

