<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>慢鱼的blog</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="shortcut icon" href="/images/favicon.png">
  <script src="/js/jquery-1.11.1.min.js"></script>
  <script src="/js/common.js"></script>
</head>
