<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
<div class="sidebar-item">
  <p>『he looks like a dog so』 『because he is a PM』</p>
</div>

<nav class="sidebar-nav">
  <a class="sidebar-nav-item" href="/index.html" target="_self"><i class="fa fa-home fa-fw"></i>&nbsp;&nbsp;&nbsp; Home</a>
  <a class="sidebar-nav-item" href="/archive" target="_self"><i class="fa fa-archive fa-fw"></i>&nbsp;&nbsp;&nbsp; Archive</a>
  <a class="sidebar-nav-item" href="#" target="_self"><i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;&nbsp; About</a>
  <a class="sidebar-nav-item" href="#" target="_self"><i class="fa fa-cog fa-spin fa-fw"></i>&nbsp;&nbsp;&nbsp; Resume</a>
</nav>

<div class="sidebar-item">
  <p>
    &copy; 2015. All rights reserved.
  </p>
</div>
</div>
  