<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wells</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body class="">
  <div class="row">
    <div class="column sidebar">
      <div class="siderbar-top">
        <h3 class="site-name">Wells</h3>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
      <p class="secondary">A Font-end developer</p>
    </div>
    <div class="column main-content">
      {{content}}
    </div>
  </div>
</body>
</html>
