<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wells</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body class="">
  <div class="row">
    <div class="column sidebar hide-for-small-only">
      <div class="siderbar-top">
        <h3 class="site-name">Wells</h3>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
      <p class="secondary">A Font-end developer</p>
    </div>
    <div class="column main-content">
      {{content}}
    </div>
  </div>
  <a href="#" class="hamburger"><i class="fa fa-bars"></i></a>
  <ul class="mobile-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/work">Work</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  <div class="ui-mask"></div>

  <script src="/js/jquery-1.11.1.min.js"></script>
  <script>
    $(".sidebar ul a").each(function(){
      var path = document.location.pathname.split('/');
      var page = path[path.length - 1];
      var href = $(this).attr("href").slice(1);
      if (href === page) {
        $(this).addClass("active");
        return false;
      }
    });

    $('.hamburger').click(function(){
      $('body').css('overflow', 'hidden');
      $('.mobile-nav').addClass('show');
      $('.ui-mask').addClass('show');
    });

    $('.ui-mask').click(function(){
      $('body').css('overflow', 'auto');
      $('.mobile-nav').removeClass('show');
      $(this).removeClass('show');
    });

  </script>
</body>
</html>
