<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>慢鱼的blog</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="shortcut icon" href="/images/favicon.png">
</head>
<body>
	<div class="app-container">
		<div class="app-header">
	    <ul class="navBar">
	      <li><a href="/index.html">HOME</a></li>
	      <li><a href="/archive">ARCHIVE</a></li>
	      <li><a href="/demo">DEMO</a></li>
	      <li><a href="/about">ABOUT</a></li>
	    </ul>
	  </div>

		{{	content	}}

	</div>
</body>
</html>
