<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>To be a 手艺人</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
	<div class="app-container">
		<a href="#" class="hamburger"><i class="fa fa-bars"></i></a>
		<div class="sidebar">
			<a class="title" href="/index">To be a Artisan</a>
	    <ul>
	    	<li><a href="/index">首页</a></li>
	      <li><a href="/blog">博客</a></li>
	      <li><a href="/work">工作</a></li>
	      <li><a href="/about">关于</a></li>
	    </ul>
	  </div>
		<div class="ui-mask"></div>
		<div class="app-header">
	    <ul class="navBar">
	      <li><a href="/index"><i class="fa fa-home"></i>Home</a></li>
	      <li><a href="/blog"><i class="fa fa-book"></i>Blog</a></li>
	      <li><a href="/work"><i class="fa fa-diamond"></i>Work</a></li>
	      <li><a href="/about"><i class="fa fa-user"></i>Me</a></li>
	    </ul>
	  </div>
		{{	content	}}
		<script src="/js/jquery-1.11.1.min.js"></script>
		<script>
			$(".app-header a").each(function () {
			  var path = document.location.pathname.split('/');
			  var page = path[path.length -1];
			  var href = $(this).attr('href').slice(1);
			  if(href === page){
			    $(this).addClass('active');
			    return false;
			  }
			});

			$(".sidebar ul a").each(function(){
			  var path = document.location.pathname.split('/');
			  var page = path[path.length - 1];
			  var href = $(this).attr("href").slice(1);
			  if (href === page) {
			    $(this).addClass("active");
			    return false;
			  }
			});

		$('.hamburger').click(function(){
      $('body').css('overflow', 'hidden');
      $('.sidebar').addClass('show');
      $('.ui-mask').addClass('show');
    });

    $('.ui-mask').click(function(){
      $('body').css('overflow', 'auto');
      $('.sidebar').removeClass('show');
      $(this).removeClass('show');
    });

		window.addEventListener("load",function() {
		  // Set a timeout...
		  setTimeout(function(){
		    // Hide the address bar!
		    window.scrollTo(0, 1);
		  }, 0);
		});
		</script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-74511067-1', 'auto');
		  ga('send', 'pageview');
		</script>
	</div>
</body>
</html>
