<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wells</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body class="">
  <div class="row">
    <div class="column main-content">
      <div class="post-page">
          <div class="post-hero" >
            <div class="post-title">{{ page.title }}</div>
            <div class="post-date">{{ page.date | date: "%Y年%m月%d日" }}</div>
          </div>
          <div class="post-content container">
            {{ content }}
            <!-- <a href="#0" class="cd-top"><i class="fa fa-chevron-up"></i></a> -->
          </div>
      </div>
    </div>
  </div>
  <a href="#" class="hamburger show">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <ul class="mobile-nav">
    <li class="site-name">Wells</li>
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/work">Work</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  <div class="ui-mask"></div>

  <script src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
    $('.hamburger').click(function(){
      if(!$('.mobile-nav').hasClass('show')) {
        $('body').css('overflow', 'hidden');
        $(this).addClass('active');
        $('.mobile-nav').addClass('show');
        $('.ui-mask').addClass('show');
      } else {
        $('body').css('overflow', 'auto');
        $('.mobile-nav').removeClass('show');
        $('.ui-mask').removeClass('show');
        $(this).removeClass('active');
      }
    });

    window.addEventListener("load",function() {
      // Set a timeout...
      setTimeout(function(){
        // Hide the address bar!
        window.scrollTo(0, 1);
      }, 0);
    });
</script>
</body>
</html>
