---
layout: default
---

<div class="header">
	<div class="container clearfix">
      <ul class="nav">
        <li class="current"><a href="/index.html">Blog</a></li>
        <li><a href="">Work</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </div>
	<a class="logo" href="/index.html">慢鱼</a>
</div>
<div class="blog-banner">
	<div class="post-header">
		<h1 class="post-title f-white f20"> {{ page.title }} </h1>
		<div class="author-date f12 f-white"> 慢鱼，{{ page.date | date:'%Y.%m.%d' }} </div>
	</div>
</div>
<div class="blog-wrapper">
	<div class="container clearfix">
		<div>
		{{ content }}
		</div>
	</div>

</div>	