$primary-color-dark:   #0097A7;
$primary-color:        #E58172;
$primary-color-light:  #B2EBF2;
$primary-color-text:   #333333;
$accent-color:         #FFFFFF;
$primary-text-color:   #404040;
$secondary-text-color: #727272;


html,body,h1,h2,h4,h5,h6,p,ul,button{
  margin: 0;
  padding: 0;
}

html, body, h1, h2, h3, h4, h5, h6, blockquote, p,
pre, dl, dd, ol, ul, li, a, span, caption, th, td,
form, fieldset, legend, input, button, textarea, address {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%
}
ol, ul {
  list-style: none
}
li {
  list-style: none;
}
fieldset, img {
  border: 0
}
address, cite, dfn, em, var {
  font-style: normal
}
input, button, textarea, select {
  font-size: 100%
}
input, button, select, textarea {
  outline: 0
}
textarea {
  resize: none
}
small {
  font-size: 80%
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: inherit
}
a{
  text-decoration: none
}
a, label, :focus {
  outline: 0 none
}
a, img, input {
  border: 0 none
}
button, input, select, textarea {
  font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #3b3b3b;
  font-weight: normal
}
::-webkit-input-placeholder {
  color: #3b3b3b;
  font-weight: normal
}
input:-ms-input-placeholder {
  color: #3b3b3b;
  font-weight: normal
}
::-ms-clear {
  display: none
}
::-ms-reveal {
  display: none
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  box-sizing: border-box;
}

.hidden{
  display: none;
}
.fl {
  float: left
}

.fr {
  float: right
}

.nbg {
  background: none !important
}

.t_l {
  text-align: left
}

.t_c {
  text-align: center
}

.t_r {
  text-align: right
}

.mt15{
  margin-top: 15px;
}
.mt20{
  margin-top: 20px;
}
.f10{
  font-size: 10px;
}
.f12{
  font-size: 12px;
}
.f14{
  font-size: 14px;
}
.f18{
  font-size: 18px;
}
.f20{
  font-size: 20px;
}
.f22{
  font-size: 22px;
}
.t-middle {
  text-align: center
}
.t-left {
  text-align: left
}
.t-right {
  text-align: right
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
