$primary-color-dark:   #0097A7;
$primary-color:        #E58172;
$primary-color-light:  #B2EBF2;
$primary-color-text:   #333333;
$accent-color:         #3f51b5;
$primary-text-color:   #404040;
$secondary-text-color: #727272;

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none
}
li {
  list-style: none;
}
fieldset, img {
  border: 0
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
body,html {
    height: 100%;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font: 16px/1.8 'Helvetica Neue', 'Microsoft YaHei', Arial, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}

.container {
  padding: 1em;
}

@media only screen and (min-width: 970px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}

