/*header*/
.cd-header{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  background: white;
  height:50px;
  z-index: 2;
  .logo{
    float: left;
    font-weight: 800;
    font-size: 18px;
    margin:15px 0 0 5%;
    color:#5e5e5e;
    line-height: 20px;
  }
}
@media only screen and (min-width: 768px){
  .cd-header{
    color:#fff;
    background: $primary-color;
    .logo{
      color:#fff;
      &:hover,&:focus{
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url(../images/cd-icon-menu.svg) no-repeat center center;
  background-size:44px 44px;
  cursor: pointer;
  ul{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    transform:translateY(-100%);
  }
  ul.is-visible{
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    -webkit-transform:translateY(50px);
            transform:translateY(50px);
  }
}
.cd-header ul a{
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #fff;
  font-size: 12px;
  font-weight: 800;
  color: #777;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px){
  .cd-main-nav{
    width:auto;
    height: auto;
    background: none;
    ul{
      position: static;
      line-height: 50px;
      transform:translateY(0);
      li{
        display: inline-block;
        margin-left: 1em;
      }
      a{
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
        padding: .6em 1em;
        border:0;
        color:#fff;
        &:hover, &:focus{
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
    ul.is-visible{
      transform: translateY(0);
    }
  }
}

@media only screen and (min-width: 1170px){
  .cd-header{
    backface-visibility:hidden;
    transform:translate3d(0px 0px 0px);
    transition:background-color 0.3s ease 0s;
  }
  .cd-header.is-fixed {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    position: fixed;
    top: -50px;
    transition: transform 0.3s ease 0s;
    .logo{
      color:#404040;
      &:hover, &:focus{
        color:#0085a1;
      }
    }
  }

  .cd-header.is-fixed ul a{
     color:#404040;
     &:hover,&:focus{
        color:#0085a1;
     }
  }
  .cd-header.is-visible {
    transform: translate3d(0px, 100%, 0px);
  }
}

.cd-banner{
  background: #E58172;
  height: 250px;
  position: relative;
  color:#fff;
  .handing{
    position: absolute;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%);
    width: 90%;
    max-width: 768px;
    text-align: center;
    h1{
      font-size: 40px;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 700;
      line-height: 1.1;
    }
    .sub-heading {
      font-size: 16px;
      line-height: 1.1;
      display: block;
      font-weight: 300;
      margin: 10px 0 0;
    }
  }
  .post-handing{
    position: absolute;
    top:50%;
    left:5%;
    -webkit-transform:translateY(-50%);
            transform:translateY(-50%);
    width: 90%;
    max-width: 768px;
    text-align: left;
    padding-top:50px;
  }
}

@media only screen and (min-width: 768px){
  .cd-banner{
    height: 420px;
    .post-handing{
      left:20%;
    }
  }
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
}
.small {
    font-size: 85%;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

@media only screen and (min-width: 768px){
  .handing{
    h1{
    font-size: 65px;
    }
    .sub-heading{
      font-size: 20px;
    }
  }
}

/*content*/
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}

.paginator {
  padding: 15px 20px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #dcdce0;
  border-left: 1px solid #dcdce0;
  border-right: 1px solid #dcdce0;
}

.blog-wrapper{
  height: auto;
  padding:1em 1em;
  ul li{
    list-style:disc;
  }
  p{
    padding: 0.3em 0.2em;
    font-size: 16px;
  }
}

/*code*/
code, pre {
  font-family: 'Open Sans','Helvetica Neue', Helvetica, Tahoma, Arial, "Hiragino Sans GB", 'STXihei', "华文细黑", "Microsoft YaHei", "微软雅黑", 'SimSun', "宋体", 'Heiti', "黑体", sans-serif;
}
code {
  padding: .25em .5em;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
  font-size: 14px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
}
/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}
