@import 'normalize.css';
@import '_common.css';
@import '_code.css';
.app-container{
  height: 100%vh;
  display: flex;
  flex-direction:column;
}

.app-header{
  position: relative;
  width: 100%;
  height: 64px;
  background-color: #fff;
  flex-shrink:0;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
}

.app-header .navBar{
  position: absolute;
  right: 60px;
  height: 64px;
}

.app-header li{
  display: inline-block;
}

.app-header li a{
  display: block;
  color:#727272;
  width: 130px;
  line-height: 64px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.app-header li a.active{
  border-bottom: 4px solid #ff4081;
}

.home{
  background: url("../images/home-bg.jpg") no-repeat fixed center center/cover;
  height: calc(100vh - 64px);
}

.home .overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.home .title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 0;
}

.home .title .name {
    color: #00bcd4;
}

.home .subtitle {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 38px;
}

.home button {
  display: inline-block;
  border: 0;
  height: 36px;
  min-width: 100px;
  font-size: 14px;
  color: #FFFFFF;
  background: #C2185B;
  border-radius: 2px;
  text-transform: uppercase;
}


.all_posts{
  margin:0 auto;
  padding: 0 15px;
  .post{
    border:0;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    .datetime{
      display: inline-block;
      padding-right: 0.3em;
    }
    a{
      color: #404040;
      &:hover{
        color:#337ab7;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 768px){
  .all_posts{
    margin:0 auto;
    padding: 0 15px;
    width: 750px;
  }
}

@media only screen and(min-width: 992px){
  .all_posts{
    width: 970px;
  }
}

/*post.css*/
@media only screen and (min-width: 960px){
  .cd-banner .post-handing{
    top:50%;
    left:50%;
    padding-top: 0;
    text-align: center;
    transform:translateY(-50%) translateX(-50%);
  }
}
.post-heading h1 {
    font-size: 27px;
}
.post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 17px;
}

/*demo.css*/
.post-area{
  margin-top: 60px;
  word-break:break-all;
}
@media(min-width: 992px){
  #fall ul{
    margin: 0 10px;
    padding: 0;
    width: 232px;
    /*background-color: red;*/
    display: inline-block;
    vertical-align: top;
  }
}

#fall li{
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(0,0,0,0.6),0 0 20px rgba(0,0,0,0.1) inset;
  transition: 0.1s ease-out;
}

#fall li:hover{
  box-shadow: 0 0 12px rgba(0,0,0,0.8), 0 0 20px rgba(0,0,0,0.1) inset;
  transform: scale(1.05);
}

#fall .head {
  font-size: 16px;
  text-align: left;
  margin: 0 10px;
  padding: 10px 0 5px 0;
  border-bottom: 1px dotted #ddd;
  font-weight: bold;
}

#fall .description {
  text-align: left;
  padding: 5px 10px 10px 10px;
  text-indent: 2em;
}

.demo img{
  max-width: 100%;
  vertical-align: middle;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}
